# SEMBUNYIKAN SCRIPT BOT (Sangat Rahasia)
kamus.py

# SEMBUNYIKAN DATABASE (Data User)
kamus_premium.db

# SEMBUNYIKAN TOKEN (Jika ada file config)
.env
config.py

# SEMBUNYIKAN LOG DAN CACHE
venv/
__pycache__/
*.log
